<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <!--<script src="/js/script.js"></script>-->
  <title>To Do App</title>
</head>

<body>
  <div class="container">
    <h1>Welcome to Our Application</h1>
    <h3>Add New Task</h3>

    <form id="addTask" action="/addTask" method="POST">
      <input type="text" name="description" placeholder="Enter task">
      <button type="submit" name="submit">Add</button>
    </form>

    <h3>Tasks to be Completed</h3>
    <ul>
      <% tasks.forEach( task => { %>
        <li id="<%= task.id %>"> <span><%= task.description %></span>
          <form id="removeTask" action="/removeTask/<%= task.id %>?_method=DELETE" method="POST">
            <button class="btn btn-remove">Delete</button>
          </form>
          <!--<button class="btn btn-complete">Mark as Complete</button>-->
        </li>
      <% }) %>
    </ul>
  </div>
</body>

</html>